// Import FontAwesome
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

$color-main: 	#e11a31;
$color-grey: #ccc;
$color-grey-darker: #424242;
$footer-bg-color: #D8D8D8;

$footer-color: #656565;
$footer-color-darker: #5e5e5e;

$bg-color-main: 	#e11a31;
// $input-border-non_active :
$black : #000;
$white: #fff;

$font-main-color: rgba(black, 0.75);
$border-main-color: rgba(black, 0.75);



@mixin box_shadow ($level) {

    @if $level == 1 {
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        -webkit-box-shadow:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}

@mixin disp-flex{
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

@mixin justify-content-center{
  justify-content: space-around;
  justify-content: -moz-space-around;
  justify-content: -webkit-space-around;
  -ms-flex-pack: space-around;
}


//width
$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 900px;
$tablet-landscape-upper-boundary: 1200px;
$desktop-upper-boundary: 1800px;

//height
$height-phone-kecil: 520px;
$height-iphone-5 : 569px;
$width-iphone-5 : 330px;


@mixin for-size($range) {


  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) { @content; }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) { @content; }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) { @content; }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) { @content; }
  }
}

// usage
// .my-box {
//   padding: 10px;
//
//   @include for-size(desktop-up) {
//     padding: 20px;
//   }
// }

//PRE CSS

@font-face {
  font-family: 'FontMain';
  src: url('../fonts/helvetica-normal.eot'); /* IE9 Compat Modes */
  src: url('../fonts/helvetica-normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/helvetica-normal.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/helvetica-normal.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/helvetica-normal.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/helvetica-normal.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body{
  color: $font-main-color;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  // letter-spacing: .0125rem;
  height:100%;
  position: relative;
  //Prevent Scrolling when keyboard appears
  @include for-size(phone-only) {
    // overflow: hidden;
    // overflow: auto;
  //   @-moz-document url-prefix(){
  //     overflow: hidden;
  // }
  }
  @media(max-height: $height-iphone-5){
    font-size: 15px;
  }
}

body {
  //Prevent Scrolling when keyboard appears
  @include for-size(phone-only) {
    position: fixed;
    width: 100%;
  }
}

.navbar{
  min-height: 52px;
}
.wrapper{
  // min-height: 52px;
  position: relative;
  height: calc(100% - 52px); //52px = header height

  &.login{
    height: calc(100% - 62px); //52px = header height
  }
}

.login-img-container{
  margin: 1rem 0 0;
  height: 10rem;
  border: 2px solid $color-main;

  img{
    // max-height: 10px;
    display: inline-block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
}

button{
  margin: 0.95rem auto !important;
  border-radius: 6px !important;
  outline:none;
  @media(max-height: $height-iphone-5){
    margin: 0.75rem auto !important;

  }
}



$main-color :	#e11a31;

// CUSTOM CHECKBOX
label.custom-checkbox{
  cursor: pointer;
  p{
    display: inline-block;
  }
  input[type="checkbox"]{
    display: none;

    +.label-text:before{
      color : $font-main-color;
      display: inline;

      font-family: "FontAwesome";
      content:"\f096";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing : antialiased;
      width: 1em;
      margin-right: 10px;
      display: inline-block;
    }

    &:checked + .label-text:before{
      color : $main-color;
      content:"\f14a";
    }
  }
}
.label-text{
  font-size: 1.5em;
}

input[type="button"],
input[type="button"]:focus
{

    outline:none;
}

a{
  color: $black;
  &:visited{
    color: $black;
  }
}
*:focus {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-grey;
    // font-weight: 100;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color-grey;
    // font-weight: 100;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $color-grey;
    // font-weight: 100;
}


//MAIN STYLE
.no-margin{
  margin: 0;
}
.no-padding{
  padding: 0;
}

span.number-fixed{
  display: inline;
  color: $color-main;
  // height: 24px;
  margin-top: 0.05rem;
}

input[type=number].pin-masked {
    -webkit-text-security: disc;
}
.form-group-material{
  // @include disp-flex;
  // @include justify-content-center;
  // align-items: center;
  margin: 1.25rem 0;
  // padding: 10px 0;
  // position: relative;
  // z-index: 1;
  label.form-label-material{
    // display: block;
    font-size: 0.8em;
  }

  .form-control-material{
    height: 24px;
    display: inline-block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $border-main-color;
    box-sizing: border-box;
    -webkit-transition : border-color 300ms ease-out;
    -moz-transition : border-color 300ms ease-out;
    -o-transition : border-color 300ms ease-out;
    transition : border-color 300ms ease-out;
    &:focus{
      border-bottom: 2px solid $color-main;
    }
  }

  &.form-agreement{
    @include disp-flex;

  }
  @media(max-height: $height-phone-kecil){
    margin: 0.5rem 0;
  }
}

.form-agreement{
  // display: flex;
  // font-size: 0.9rem;
  margin-bottom: 0;
  p{
    margin: 0;
  }
  a{
    color: $color-main;
  }
}

//placeholder on date
.form-date {
  width: 100%;
  background: #fff !important;
  // color: $color-grey;
}

.form-date.placeholderclass::before {
  width: 100%;
  color: $color-grey;
  content: attr(placeholder);
}

.form-date.placeholderclass:hover::before {
  width: 0%;
  content: "";
}

.btn{
  text-transform: capitalize !important;
  &.btn-center{
    // display: inline-block;
    // margin: 0 auto !important;
  }
  &.btn-main{
    background-color: $color-main;
    color: #fff;
    @include box-shadow(1);
    padding: 0.5em 0;
    // font-size: 0.9rem;
    letter-spacing: .0250rem;
  }
}


.btn-secondary{
  display: block;
  margin: 2rem auto 0 !important;
  width: auto;
  padding: 14px 14px;
  width: 95%;
  font-size: 0.75rem;
  font-weight: normal;
  white-space: normal;
  @media(max-height: $height-phone-kecil){
    margin: 1rem auto 0 !important;
  }
}

.btn-transparent{
  background-color: $white;
  color: $main-color;
  font-weight: 500;
  padding: 0.1rem;
  letter-spacing: .025rem;
  // border-radius: 5px;
  // border: 1px solid $color-grey;
  border: 0;
  // padding: 14px 0;
  font-size: 1rem;
}

.heading-container{
  &.login{
    padding-bottom: 0;
  }
  display: table;
  width: 100%;
  padding: 1.5rem 0 0.5rem;
  // font-size: 0.9rem;
  position: relative;
  .material-icons{
    position: absolute;
    // font-size: 2rem;
    vertical-align: middle;
  }

  h1, h2,h3 ,h4 ,h5 ,h6{
    font-size: 1em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

  }
  h1{
    font-weight: 500;
  }


  @media(max-height: $height-phone-kecil){
    padding: 1rem 0 0 0;
  }

}

.content-container{
  font-size: 0.95rem;
}
.login-content-container{
  // padding-top: 9rem;
  @media(max-height: $height-phone-kecil){
    // padding-top: 4rem;
  }
}

.register-content-container{
  // margin-top: 1.5rem;
  @media(max-height: $height-phone-kecil){
    margin-top: 0;
  }
}
.verification-content-container{
  margin-bottom: 5.5rem;
  @media(max-height: $height-phone-kecil){
    margin-bottom: 3.5rem;
  }
}
.navbar-red{
  background-color: $bg-color-main;
}

.font-red{
  color: $color-main;
}

.navbar .navbar-img_center {
     display:block;
     margin: 0px auto;
     max-height: 36px;
}

// FOR OTP THINGS
.otp-par{
  font-size: 0.85em;
  margin-top: 1rem;
  font-weight:  bold;

}
.otp-timer{
  // font-weight: lighter;
}
input.partitioned {
  margin-top: 1rem;
  padding: 0 0 5px 14px;
  letter-spacing: 59px;
  border: 0;
  background-image: linear-gradient(to left, $color-main 65%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 74px 3px;
  background-repeat: repeat-x;
  background-position-x: 43px;
  font-size: 1.5rem;
  width: 260px;
  // max-width: 4ch;
  // min-width:260px;
  overflow: hidden;
}

// .otp-inner-container{
//   left: 0;
//   position: sticky;
// }
//
// .otp-outer-container{
//   width:260px;
//   overflow:hidden;
//   display: block;
//   margin: 0 auto;
// }

//FOOTER
// .footer{
//   width: 100%;
//   display: block;
//   position: absolute !important;
//   bottom: 0;
//   height: 52px;
//   background-color: $footer-bg-color;
//   color: $font-main-color;
//   font-weight: normal;
//   .link-footer{
//     color: $footer-color-darker;
//     font-weight: 500;
//     a{
//       color: $font-main-color;
//     }
//   }
//   div{
//     height: 100%;
//     display: table;
//     margin: 0 auto;
//     p{
//       display: table-cell;
//       vertical-align: middle;
//       text-align: center;
//     }
//   }
//   .material-icons{
//     vertical-align: middle;
//     margin-left: 1rem;
//     color: $black;
//   }
//   @media (max-width: $width-iphone-5){
//     font-size: 14px;
//   }
// }
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  height: 52px;
  position: absolute;
  background-color: $footer-bg-color;
  div{
      height: 100%;
      display: table;
      margin: 0 auto;
      p{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  .material-icons{
      vertical-align: middle;
      // margin-left: 0.5rem;
      color: $black;
    }
}

@media (max-width: $phone-upper-boundary){
  .hidden-class{
    display: none;
  }
}
