$color-main: 	#e11a31;
$color-grey: #ccc;
$color-grey-darker: #424242;
$footer-bg-color: #f5f5f5;

$footer-color: #656565;
$footer-color-darker: #5e5e5e;

$bg-color-main: 	#e11a31;
// $input-border-non_active :
$black : #000;
$white: #fff;

@mixin box_shadow ($level) {

    @if $level == 1 {
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        -webkit-box-shadow:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}

@mixin disp-flex{
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

@mixin justify-content-center{
  justify-content: space-around;
  justify-content: -moz-space-around;
  justify-content: -webkit-space-around;
  -ms-flex-pack: space-around;
}

@font-face{
font-family: FreeSans;
src: url('../fonts/freesans.ttf'), format('ttf');}

@mixin for-size($range) {
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) { @content; }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) { @content; }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) { @content; }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) { @content; }
  }
}

// usage
// .my-box {
//   padding: 10px;
//
//   @include for-size(desktop-up) {
//     padding: 20px;
//   }
// }


html, body{
  font-family: 'FreeSans', sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
}

button{
  margin: 1rem 0 !important;
  border-radius: 5px !important;
  outline:none;
}

input[type="button"],
input[type="button"]:focus
{

    outline:none;
}

a{
  color: $black;
  &:visited{
    color: $black;
  }
}
*:focus {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-grey;
    font-weight: 100;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color-grey;
    font-weight: 100;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $color-grey;
    font-weight: 100;
}

.no-margin{
  margin: 0;
}
.no-padding{
  padding: 0;
}

span.number-fixed{
  display: inline;
  color: $color-main;
  // height: 24px;
  margin-top: 3px;
}

// input[type="date"]:before {
//   content: attr(placeholder) !important;
//   color: #aaa;
//   margin-right: 0.5em;
// }
// input[type="date"]:focus:before,
// input[type="date"]:valid:before {
//   content: "";
// }
input[type=number].pin-masked {
    -webkit-text-security: disc;
}
.form-group-material{
  @include disp-flex;
  @include justify-content-center;
  align-items: center;
  margin: 0.85rem 0;
  padding: 10px 0;
  .form-control-material{
    height: 24px;
    display: inline-block;
    margin-left: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $color-grey-darker;
    box-sizing: border-box;
    -webkit-transition : border-color 300ms ease-out;
    -moz-transition : border-color 300ms ease-out;
    -o-transition : border-color 300ms ease-out;
    transition : border-color 300ms ease-out;
    &:focus{
      border-bottom: 2px solid $color-main;
    }

    // &[type="date"]:before{
    //   content: attr(placeholder) !important;
    //   color: #aaa;
    //   margin-right: 0.5em
    // }

  }
  .form-control-material-checkbox{
    position: relative;
    bottom: 10px;
    width: 15%;
  }
  .form-control-material-checkbox_info{
     text-align: left;
     width: 100%;
     margin-left: 5px;
     word-break: break-all;
     hyphens: auto;
     a{
       color: $color-main;
       text-decoration: underline;
     }
  }
}
.btn-main{
  background-color: $color-main;
  color: #fff;
  @include box-shadow(1);
  padding: 14px 0;
  font-size: 0.9rem;
}

.btn-secondary{
  display: block;
  margin: 10% auto 0 !important;
  width: auto;
  padding: 14px 14px;
  width: 95%;
  font-size: 0.75rem;
  font-weight: normal;
}

.btn-transparent{
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $color-grey;
  padding: 14px 0;
  font-size: 0.9rem;
}

.heading-container{
  padding: 1rem 0;
  font-size: 1.25rem;
  position: relative;
  // font-weight:;
  .material-icons{
    position: absolute;
    // font-size: 2rem;
    vertical-align: middle;
  }
}
.content-container{
  font-size: 0.95rem;
}
.login-content-container{
  margin-top: 40%;
}

.register-content-container{
  margin-top: 2.5rem;
}
.verification-content-container{
  margin-bottom: 30%;
}
.navbar-red{
  background-color: $bg-color-main;
}
.font-red{
  color: $color-main;
}
.navbar .navbar-img_center {
     display:block;
     margin: 0px auto;
     // width: 90px;
     // height: 100%;
     max-height: 36px;
}

// FOR OTP THINGS
.otp-par{
  margin-top: 5%;
  font-weight:  normal;

}
.otp-timer{
  // font-weight: lighter;
}
input.partitioned {
  margin-top: 15px;
  padding: 0 0 5px 12px;
  letter-spacing: 46px;
  border: 0;
  background-image: linear-gradient(to left, $color-main 65%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 61px 3px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  font-size: 1.5rem;
  width: 220px;
  overflow: hidden;
}

//FOOTER
.footer{
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
  height: 52px;
  background-color: $footer-bg-color;
  color: $footer-color;
  font-weight: normal;
  .link-footer{
    color: $footer-color-darker;
    font-weight: bolder;
    a{
      color: $footer-color;
    }
  }
  div{
    height: 100%;
    display: table;
    margin: 0 auto;
    p{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
  .material-icons{
    vertical-align: middle;
    margin-left: 12px;
    color: $black;
  }
}
