@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@font-face {
  font-family: 'FontMain';
  src: url("../fonts/helvetica-normal.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helvetica-normal.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica-normal.woff2") format("woff2"), url("../fonts/helvetica-normal.woff") format("woff"), url("../fonts/helvetica-normal.ttf") format("truetype"), url("../fonts/helvetica-normal.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

/* line 114, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
html, body {
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  height: 100%;
  position: relative;
}

@media (max-width: 599px) {
  /* line 114, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
  html, body {
    overflow: hidden;
  }
}

@media (max-height: 569px) {
  /* line 114, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
  html, body {
    font-size: 15px;
  }
}

/* line 135, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.navbar {
  min-height: 52px;
}

/* line 138, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.wrapper {
  position: relative;
  height: calc(100% - 52px);
}

/* line 143, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.login-img-container {
  margin: 1rem 0 0;
  height: 10rem;
  border: 2px solid #e11a31;
}

/* line 148, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.login-img-container img {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

@media (max-width: 599px) {
  /* line 158, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
  body {
    position: fixed;
    width: 100%;
  }
}

/* line 165, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
button {
  margin: 0.95rem auto !important;
  border-radius: 6px !important;
  outline: none;
}

@media (max-height: 569px) {
  /* line 165, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
  button {
    margin: 0.75rem auto !important;
  }
}

/* line 180, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
label.custom-checkbox {
  cursor: pointer;
}

/* line 182, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
label.custom-checkbox p {
  display: inline-block;
}

/* line 185, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
label.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* line 188, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
label.custom-checkbox input[type="checkbox"] + .label-text:before {
  color: rgba(0, 0, 0, 0.75);
  display: inline;
  font-family: "FontAwesome";
  content: "\f096";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  margin-right: 10px;
  display: inline-block;
}

/* line 206, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
label.custom-checkbox input[type="checkbox"]:checked + .label-text:before {
  color: #e11a31;
  content: "\f14a";
}

/* line 212, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.label-text {
  font-size: 1.5em;
}

/* line 216, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
input[type="button"],
input[type="button"]:focus {
  outline: none;
}

/* line 223, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
a {
  color: #000;
}

/* line 225, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
a:visited {
  color: #000;
}

/* line 229, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
*:focus {
  outline: none;
}

/* line 233, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1;
  /* Firefox */
}

/* line 239, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

/* line 244, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

/* line 251, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.no-margin {
  margin: 0;
}

/* line 254, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.no-padding {
  padding: 0;
}

/* line 258, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
span.number-fixed {
  display: inline;
  color: #e11a31;
  margin-top: 0.05rem;
}

/* line 265, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
input[type=number].pin-masked {
  -webkit-text-security: disc;
}

/* line 268, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.form-group-material {
  margin: 1.25rem 0;
}

/* line 276, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.form-group-material label.form-label-material {
  font-size: 0.8em;
}

/* line 281, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.form-group-material .form-control-material {
  height: 24px;
  display: inline-block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  -webkit-transition: border-color 300ms ease-out;
  -moz-transition: border-color 300ms ease-out;
  -o-transition: border-color 300ms ease-out;
  transition: border-color 300ms ease-out;
}

/* line 292, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.form-group-material .form-control-material:focus {
  border-bottom: 2px solid #e11a31;
}

/* line 297, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.form-group-material.form-agreement {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

@media (max-height: 520px) {
  /* line 268, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
  .form-group-material {
    margin: 0.5rem 0;
  }
}

/* line 306, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.form-agreement {
  margin-bottom: 0;
}

/* line 310, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.form-agreement p {
  margin: 0;
}

/* line 313, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.form-agreement a {
  color: #e11a31;
}

/* line 319, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.form-date {
  width: 100%;
  background: #fff !important;
}

/* line 325, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.form-date.placeholderclass::before {
  width: 100%;
  color: #ccc;
  content: attr(placeholder);
}

/* line 331, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.form-date.placeholderclass:hover::before {
  width: 0%;
  content: "";
}

/* line 336, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.btn {
  text-transform: capitalize !important;
}

/* line 342, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.btn.btn-main {
  background-color: #e11a31;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0.5em 0;
  letter-spacing: .0250rem;
}

/* line 353, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.btn-secondary {
  display: block;
  margin: 2rem auto 0 !important;
  width: auto;
  padding: 14px 14px;
  width: 95%;
  font-size: 0.75rem;
  font-weight: normal;
  white-space: normal;
}

@media (max-height: 520px) {
  /* line 353, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
  .btn-secondary {
    margin: 1rem auto 0 !important;
  }
}

/* line 367, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.btn-transparent {
  background-color: #fff;
  color: #e11a31;
  font-weight: 500;
  padding: 0.1rem;
  letter-spacing: .025rem;
  border: 0;
  font-size: 1rem;
}

/* line 380, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.heading-container {
  display: table;
  width: 100%;
  padding: 1.5rem 0 0.5rem;
  position: relative;
}

/* line 381, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.heading-container.login {
  padding-bottom: 0;
}

/* line 389, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.heading-container .material-icons {
  position: absolute;
  vertical-align: middle;
}

/* line 395, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.heading-container h1, .heading-container h2, .heading-container h3, .heading-container h4, .heading-container h5, .heading-container h6 {
  font-size: 1em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 402, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.heading-container h1 {
  font-weight: 500;
}

@media (max-height: 520px) {
  /* line 380, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
  .heading-container {
    padding: 1rem 0 0 0;
  }
}

/* line 413, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.content-container {
  font-size: 0.95rem;
}

@media (max-height: 520px) {
  /* line 423, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
  .register-content-container {
    margin-top: 0;
  }
}

/* line 429, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.verification-content-container {
  margin-bottom: 5.5rem;
}

@media (max-height: 520px) {
  /* line 429, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
  .verification-content-container {
    margin-bottom: 3.5rem;
  }
}

/* line 435, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.navbar-red {
  background-color: #e11a31;
}

/* line 439, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.font-red {
  color: #e11a31;
}

/* line 443, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.navbar .navbar-img_center {
  display: block;
  margin: 0px auto;
  max-height: 36px;
}

/* line 450, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.otp-par {
  font-size: 0.85em;
  margin-top: 1rem;
  font-weight: bold;
}

/* line 459, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
input.partitioned {
  margin-top: 1rem;
  padding: 0 0 5px 14px;
  letter-spacing: 59px;
  border: 0;
  background-image: linear-gradient(to left, #e11a31 65%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 74px 3px;
  background-repeat: repeat-x;
  background-position-x: 43px;
  font-size: 1.5rem;
  width: 260px;
  overflow: hidden;
}

/* line 489, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.footer {
  width: 100%;
  display: block;
  position: absolute !important;
  bottom: 0;
  height: 52px;
  background-color: #D8D8D8;
  color: rgba(0, 0, 0, 0.75);
  font-weight: normal;
}

/* line 498, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.footer .link-footer {
  color: #5e5e5e;
  font-weight: 500;
}

/* line 501, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.footer .link-footer a {
  color: rgba(0, 0, 0, 0.75);
}

/* line 505, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.footer div {
  height: 100%;
  display: table;
  margin: 0 auto;
}

/* line 509, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.footer div p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 515, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
.footer .material-icons {
  vertical-align: middle;
  margin-left: 1rem;
  color: #000;
}

@media (max-width: 330px) {
  /* line 489, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
  .footer {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  /* line 526, /Users/dhiaaziz/Documents/kerja/freelance/loginpage/assets/scss/main-style.scss */
  .hidden-class {
    display: none;
  }
}

/*# sourceMappingURL=../css/main-style.map */